<div class="col-sm-6">
    <a href="/" style="text-decoration: none; white-space: nowrap;">
        <img src="/images/avatar.png" class="rounded-circle" style="width:60px">
        &nbsp;&nbsp;
        <span class="text-shadow align-middle">4 s t u d e n t</span>      
    </a>
</div>
<div class="col-sm-6 mt-3">
    <span class="" style="position: absolute; right: 10px; bottom: 10px;">
        <a href="https://drive.google.com/drive/folders/17qlxgkVFgh6eqB1jpGqoAmVjtKda2cMu?usp=drive_link"
            style="text-decoration:none;" target="_blank">
               <i class="bi bi-share-fill"></i> Software
        </a> | 
        <a href="https://drive.google.com/drive/folders/1BCJJqWYFkZfaxVr7Jv-D0eQkjtA3taep?usp=drive_link"
            style="text-decoration:none;" target="_blank">
               <i class="bi bi-share-fill"></i> e-Books
        </a> | 
        <a href="/documents/" style="text-decoration:none;">
            <i class="bi bi-share-fill"></i> Documents
        </a> | 
        <a href="#" id="linkOthers" style="text-decoration:none;" data-bs-toggle="modal" data-bs-target="#confirmationModal">
            <i class="bi bi-share-fill"></i> Others
        </a>
    </span>
</div>